{% extends "layout.html" %}
{% block body %}
<form method="post" action="/">
	Let's find out!<br/>
	<input type="text" 
		onblur="if (this.value=='') this.value=this.defaultValue" 
		onclick="if (this.defaultValue==this.value) this.value=''" 
		value="My steam profile name" 
		name="steamid" />
	<input type="submit" value="Go!"/>
</form>

<div class="explanation">
	To find your profile name, go to this page in Steam:<br/>
	<img src="/static/profile-walkthrough.png" alt="Open steam, click your username, click profile" /><br/><br/>
	<img src="/static/profile-url.png" alt="Find the URL for your profile" /><br/>
	Grab the profile name at the end:<br/>
	<span class="muted">steamcommunity.com/id/</span>[my_profile_name_here]
</div>
{% endblock %}