<!doctype html>
<html>
<head>
	<title>What would my Steam be like on Linux?</title>
	<link rel="stylesheet" href="/static/style.css" />
	<link href='https://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
</head>

<body>
	<header>
		<h1><a href="/">What would my Steam be like on Linux?</a></h1>
	</header>
	<div id="content">
		 {% block body %}{% endblock %}
	</div>
	<footer>
		Code on <a href="https://github.com/icbat/steam-linux-breakdown">GitHub</a>.  Made with <3 by <a href="https://www.twitter.com/icbat">@icbat</a>
	</footer>
</body>	